h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1','Conceptos de la derivada', 'main.html#page/concepto1/')
                    +navTemaItem('2', 'Conceptos básicos de integración', 'main.html#page/concepto2/')