.container#concepto2

    .header-ecored
        h1 2. Conceptos básicos de integración
    
    .jumbotron.bg-white.shadow
        p Proceso que permite restituir una función que ha sido previamente derivada. Es decir, la operación opuesta de la derivada, así como la suma es a la resta.
        p Por conveniencia se introduce una notación para la antiderivada de una función.
        .row.justify-content-around.my-4
            .col-8.bg-color1.p-4
                p.mb-0.text-center Si F(x) = f(x), se representa
        img(src="assets/images/pages/img27.png", style="max-width: 90%").img-fluid.img-a
        p A continuación, se hace el ejemplo de una integral de un monomio.
        .row.justify-content-around.my-4
            .col-8.bg-color1.p-4
                p.mb-0.text-center Vamos a integrar la F(x) = 4  y lo vamos a evaluar entre 0 y 1.
        img(src="assets/images/pages/img28.png", style="max-width: 90%").img-fluid.img-a