include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Budnick, F., 1997. Matemáticas Aplicadas para Administración, Economía y Ciencias Sociales, Tercera Edición. Mc. Graw Hill. México.", "")

        +referenciaItem("Francisco Soler, R. N. (2008). Cálculo con aplicaciones. Pearson Educación de Colombia, LTDA.", "")

        +referenciaItem("Hernández, E. (9 de octubre 2020). Criterio de la primera derivada para determinar los máximos y los mínimos de una función.", "https://tecdigital.tec.ac.cr/revistamatematica/cursos-linea/CALCULODIFERENCIAL/curso-elsie/aplicacionesderivada/html/node4.html")

        +referenciaItem("Matemáticas Razonamiento y aplicaciones, Decimosegunda Edición, Pearson 2013.", "")