include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Planificación de acciones socio ambientales en comunidades étnicas
        meta(meta name="description" content="Ruta de aprendizaje programa Planificación de acciones socio ambientales en comunidades étnicas.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Planificación de acciones socio ambientales en comunidades étnicas
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Planificación de acciones socio ambientales en comunidades étnicas
                                        li 
                                            span #[strong Código:] 13530001
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] Se requiere que el aprendiz tenga dominio de elementos básicos en el manejo de herramientas informáticas y de comunicación como: correo electrónico, chats, procesadores de texto, software para presentaciones, navegadores de internet y otros sistemas y herramientas tecnológicas necesarias para la formación en ambientes virtuales


                    

                            .col-12.col-lg-6.text-center
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_media.png").curso-imagen      


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 La planificación de acciones socio ambientales en comunidades étnicas permite promover la participación de los grupos étnicos en las decisiones que afectan su vida social, cultural y ambiental en sus territorios.


                p El presente programa de formación está dirigido a los actores internos y externos que participan directa o indirectamente con comunidades étnicas buscando  fomentar el dinamismo y cohesión en la concertación de acciones que garanticen una intervención armonizada de acuerdo con el contexto socio ambiental y normativa relacionada con el enfoque diferencial étnico.   

                p De acuerdo a lo anterior se seleccionará técnicas e instrumentos  para la caracterización, determinación de factores ambientales, proyección  y priorización de   acciones socio ambientales teniendo en cuenta la diversidad étnica y cultural. 

                p El curso complementario de #[strong planificación de acciones socio ambientales en comunidades étnicas] permitirá al aprendiz promover el entorno ambiental en los territorios étnicos. Al finalizar logrará estructurar  un plan de acción donde proyecte, priorice, programe y verifique acciones socio ambientales concertadas con las comunidades étnicas.


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 El Estado a través de la Constitución Política de 1991 reconoce y protege la diversidad étnica y cultural de la Nación colombiana. En este sentido, Colombia como país pluriétnico y multicultural con enfoque diferencial étnico cuenta con tres grandes grupos: Comunidades Negras, Afrocolombianas, Raizales y Palenqueras- NARP, Pueblos Indígenas y el Pueblo Rom o Gitano. De acuerdo con el Censo DANE 2018, la población que se autoreconoce como población NARP es de 4.671.160 personas que corresponde al 9,34% de la población total nacional, comunidad indígena en el país es de 1.905.617 que corresponde al 4.4 % de la población total nacional y la población que se autoreconoce como gitana o Rom en el país es 2.649 personas.
                
                p El Servicio Nacional de Aprendizaje SENA adopta la Política de Atención con Enfoque Pluralista y Diferencial dirigida a poblaciones en condición de vulnerabilidad sujetas de especial protección por parte del Estado donde se incluyen las comunidades étnicas, a fin de que se conserven los principios de inclusión social, igualdad y diferencia, calidad, sostenibilidad, equidad y pertinencia. 
                
                p Por lo anterior, el programa de formación complementaria en comunidades étnicas está dirigido a los actores internos y externos que participan directa o indirectamente con comunidades étnicas, fortaleciendo sus competencias orientadas en la planificación de acciones socio ambientales con enfoque diferencial étnico




        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Actores internos y externos que participan directa o indirectamente con comunidades étnicas ( comunidad indígena, funcionarios de entes territoriales y/o nacionales, trabajadores de empresas privadas y/o públicas, comunidad en general).

        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en la utilización de las tecnologías de la información y la comunicación, integradas, en ambientes virtuales de aprendizaje, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:



                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





